@import './scss/variables';

.main {
    h1 {
        font-family: $heading-font;
        font-size: 50px;
        font-weight: 700;
        color: $accent;
        margin-bottom: 30px;
        margin-top: 50px;
        text-align: center;
    }

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    form {
        max-width: 1000px;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;

        @media screen and (max-width:1100px) {  
            justify-content: space-around;
        }

        @media screen and (max-width:800px) {  
            justify-content: space-around;
        }

        .range {
            display: flex;
            flex-direction: column;
            label {
                margin-bottom: 20px;
            }
        }
    }

    .infiniteTable {
        transform: rotateX(180deg);
        width: 100%;
        overflow-x: auto;
        display: flex;
        justify-content: center;

        table {
            max-width: 1200px;
            transform: rotateX(180deg);
        }
    }
}
